<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miui.systemuioverlay.fuxi">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="1"
             android:targetPackage="com.android.systemui"
             android:targetName="FuxiSystemUIOverlay" />
</manifest>
